
__MACOSX/._TNM048_projekt
__MACOSX/TNM048_projekt/libs/bootstrap/js/._bootstrap.min.js
__MACOSX/TNM048_projekt/libs/bootstrap/js/._.DS_Store
__MACOSX/TNM048_projekt/libs/bootstrap/css/._bootstrap.min.css
__MACOSX/TNM048_projekt/libs/bootstrap/css/._.DS_Store
__MACOSX/TNM048_projekt/libs/bootstrap/._js
__MACOSX/TNM048_projekt/libs/bootstrap/._css
__MACOSX/TNM048_projekt/libs/._jquery
__MACOSX/TNM048_projekt/libs/bootstrap/._.DS_Store
__MACOSX/TNM048_projekt/libs/._d3
__MACOSX/TNM048_projekt/libs/._css
__MACOSX/TNM048_projekt/libs/._bootstrap
__MACOSX/TNM048_projekt/libs/._.DS_Store
__MACOSX/TNM048_projekt/._new_oil.csv
__MACOSX/TNM048_projekt/._libs
__MACOSX/TNM048_projekt/._index_.html
__MACOSX/TNM048_projekt/._graph.js
__MACOSX/TNM048_projekt/._genres.js
__MACOSX/TNM048_projekt/._style.css
__MACOSX/TNM048_projekt/libs/css/._index.css
__MACOSX/TNM048_projekt/libs/d3/._d3.min.js
__MACOSX/TNM048_projekt/libs/jquery/._jquery.min.js
new_oil.csv
percentage_passed.csv
libs/bootstrap/js/bootstrap.min.js
libs/bootstrap/js/.DS_Store
libs/bootstrap/css/bootstrap.min.css
libs/bootstrap/css/.DS_Store
libs/bootstrap/.DS_Store
libs/.DS_Store
TNM048_projekt/libs/jquery/jquery.min.js
TNM048_projekt/libs/d3/d3.min.js
TNM048_projekt/libs/css/index.css
TNM048_projekt/libs/bootstrap/js/bootstrap.min.js
TNM048_projekt/libs/bootstrap/js/.DS_Store
TNM048_projekt/libs/bootstrap/css/bootstrap.min.css
TNM048_projekt/libs/bootstrap/css/.DS_Store
TNM048_projekt/libs/bootstrap/.DS_Store
TNM048_projekt/libs/.DS_Store
TNM048_projekt/style.css
TNM048_projekt/movies_passed.py
TNM048_projekt/index_.html
TNM048_projekt/graph.js
TNM048_projekt/genres.js
