.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
  }
  
  .flex-container > div {
    justify-content: center;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

.header_style {
    text-align: center;
    font-family: "Monaco";
    font-size: 10em; 
    margin-top: 40px;
  
}

.btn-toolbar {
    color:aqua;
}