.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
  }
  
  .flex-container > div {
    justify-content: center;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
.all {
    color: #6eddaa;
}

.comedy {
    color: #fee001;
}

.action {
    color: #e90003;
}

.romance {
    color: #e372ba;
}

.drama{
    color: #2050bc;
}

.horror {
    color: #16140c;
}

.thriller {
    color: #646665;
}

.sci-fi {
    color: #e86c03;
}

.family {
    color: #42a701;
}

.header_style {
    text-align: center;
    font-family: "Monaco";
    font-size: 10em; 
    margin-top: 40px;
  
}

.btn-toolbar {
    color:aqua;
}